/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
.page {
  color: var(--text-first-color);
  font-family: var(--main-font-family, "IBM Plex mono", monospace);
  font-weight: var(--default-text-weight, 400);
  font-size: var(--page-font-size,18px);
  font-style: Regular;
  line-height: var(--page-line-height,23.4px);
  letter-spacing: 0%;
  background-color: var(--background-color,#fff1f7);
  background-image: var(
    --page-background-image,
    url("../images/cover-image-light.png")
  );
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: min-content min-content min-content min-content min-content;
  grid-template-areas: 
  "left-top-corner . right-top-corner"
  "menu menu menu"
  "main main main"
  "description description description"
  "left-bot-corner . right-bot-corner";
  width: 100%;
  height: 100%;
  padding: var(--page-padding, 10px);
  margin-block-end: 20px;
}

.corner-top-decoration {
  grid-area: right-top-corner;
  justify-self: end;
  width: 25.035839080810547px;
  height: 25.001531600952237px;
  margin-block-end: var(--decor-margin, 40px);
  border-top:1px solid var(--decor-color,#353430);
  border-right:1px solid var(--decor-color,#353430);
}


.corner-bottom-decoration {
  grid-area: left-bot-corner;
  align-self: end;
  width: 25.035839080810547px;
  height: 25.001531600952237px;
  border-bottom:1px solid var(--decor-color,#353430);
  border-left:1px solid var(--decor-color,#353430);
}

.header__theme-menu {
  grid-area: menu;
  justify-self: end;
  margin-block-end: var(--header-menu-margin,65px);
}

.header__title {
  grid-area: main;
  justify-self: start;
  margin-block-end: var(--header-title-margin, 55px);
  color: var(--title-color,#FFC2E6);
  font-weight: var(--bold-font-weight, 700);
  font-size: var(--title-font-size,clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem));
  font-style: Bold;
  line-height: 83%;
  text-shadow: var(--title-zize-shadow, 4px) var(--title-zize-shadow, 4px) var(--title-shadow-color, #FF8DCB);
}

.header__discription {
  grid-area: description;
  justify-self: end;
  margin-block-end: var(--header-discription-margin,31px);
  font-weight: var( --title-font-weight, 700);
  font-style: Bold;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: var(--button-gap,13px);
}

.header__theme-menu-button {
  width: 76px;
  height:24px;
  padding-block-end: var(--page-padding, 10px);
  outline: none;
  color: var(--button-color,#353430);
  line-height: 18px;
  text-align: center;
}

.header__theme-menu-button:not(:focus):hover {
  outline: 1px solid var(--button-hover-color, #32312D66);
  outline-offset: 0;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--button-color,#353430);
  pointer-events: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--button-color,#353430);
}

.text-link {
  text-decoration: none;
  text-shadow: 1px 1px 1px var(--link-shadow-color, #FF8DCB);
}

.text-link:hover {
  text-decoration: underline;
  text-shadow: 1px 1px 1px var(--link-shadow-color, #FF8DCB);
}

.text-link:focus-visible {
  outline: solid 1px var(--text-second-color,#353430);
}

.main__content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: var(--main-content-height, 100vh);
  margin-bottom: var(--page-margin,40px);
  padding:var(--page-padding, 10px);
}

.main__content-introduction {
  display: flex;
  flex-direction: column;
  margin-bottom: var( --sections-margin, 50px);
}

.main__content-introduction__cards-group {
  display: flex;
  flex-direction: column;
  gap: var(--title-of-title-margin, 20px);
}

.main__content-introduction__title {
  margin-block-end: var(--title-of-title-margin, 20px);
  color: var(--text-second-color, #353430);
  font-weight: var( --bold-text-weight, 700);
  font-size: var(--page-font-size,18px);
  font-style: Bold;
  line-height: var(--page-line-height,23.4px);

}

.card-title-introduction {
  margin-block-end: var(--title-margin, 10px);
  font-weight: var( --bold-text-weight, 700);
  font-size: var(--page-font-size,18px);
  font-style: Bold;
  line-height: var(--page-line-height,23.4px);
}

.card-discription-introduction {
  color:var(--discription-color,#353430);
  font-weight: var( --default-text-weight, 400);
  font-size: var(--page-font-size,18px);
  font-style: Regular;
  line-height: var(--page-line-height,23.4px);
  word-spacing: var(--word-spacing,2px);
}

.main__content-hypothesis {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--sections-margin, 50px);
}

.main__content-hypothesis__cards-group {
  display: flex;
  flex-direction: column;
  gap: var( --card-gap, 20px);
}

.main__content-hypothesis__title {
  margin-block-end: var(--title-of-title-margin, 20px);
  color: var(--text-second-color, #353430);
  font-weight: var( --dold-text-weight, 700);
  font-size: var(--page-font-size,18px);
  font-style: Bold;
  line-height: var(--page-line-height,23.4px);
}

.card-title-hypothesis {
  margin-block-end: var(--title-margin, 10px);
  font-weight: var( --title-font-weight, 700);
  font-size: var(--page-font-size,18px);
  font-style: Bold;
  line-height: var(--page-line-height,23.4px);
}

.card-discription-hypothesis {
  color:var(--discription-color,#353430);
  font-weight: var( --default-text-weight, 400);
  font-size: var(--page-font-size,18px);
  font-style: Regular;
  line-height: var(--page-line-height,23.4px);
}

.main__content-solution {
  display: flex;
  flex-direction: column;
  margin-bottom: var( --sections-margin, 50px);
}

.main__content-solution__cards-group {
  display: flex;
  flex-direction: column;
  gap: var( --card-gap, 20px);
}

.main__content-solution__title {
  margin-block-end: var(--title-of-title-margin, 20px);
  color: var(--text-second-color, #353430);
  font-weight: var( --title-font-weight, 700);
  font-size: var(--page-font-size,18px);
  font-style: Bold;
  line-height: var(--page-line-height,23.4px);
}

.card-group-title-solution {
  font-weight: var( --title-font-weight, 700);
  font-size: var(--page-font-size,18px);
  font-style: Bold;
  line-height: var(--page-line-height,23.4px);
}

.card-discription-solution {
  color:var(--discription-color,#353430);
  font-weight: var( --default-text-weight, 400);
  font-size: var(--page-font-size,18px);
  font-style: Regular;
  line-height: var(--page-line-height,23.4px);
  word-spacing: var(--word-spacing,2px);
}

.card-title-solution {
  margin-bottom: var(--title-margin, 10px);
  font-weight: var( --default-text-weight, 400);
  font-size: var(--page-font-size,18px);
  font-style: Regular;
  line-height: var(--page-line-height,23.4px);
}

.images-section__title {
  margin-bottom: var(--image-title-margin, 10px);
  font-weight: var( --title-font-weight, 700);
  font-size: var(--page-font-size,18px);
  font-style: Bold;
  line-height: var(--page-line-height,23.4px);
}

.images-list {
  display: grid;
  flex-direction: column;
  grid-template-areas: 
  "sunset"
  "icecream"
  "tape"
  "books"
  "street"
  ;
  grid-row: repeat(5, min-content);
  gap: var(--cards-gap, 10px);
}

.images-section__card {
  width: 100%;
  height: 100%;
}

.footer {
  display: grid;
  grid-template-rows: 60px 1fr 60px;
  grid-template-areas:
    "right-top-corner"
    "main"
    "left-bot-corner";
  gap: var(--decoration-footer-gap,250px);
  width: 100%;
  height: 100%;
  padding: var(--page-pading, 10px);
}

.footer__title {
  grid-area: main;
  justify-self: center;
  align-self: center;
  color: var(--title-color, #ffc2e6);
  font-weight: var( --title-font-weight, 700);
  font-size: var(--title-font-size,clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem));
  font-style: Bold;
  line-height: 83%;
  text-shadow: var( --footer-text-shadow, 2px) var( --footer-text-shadow, 2px) var(--title-footer-shadow-color, #ff0070);
}

.corner-top-decoration-footer {
  grid-area: right-top-corner;
  justify-self: end;
  width: 25.035839080810547px;
  height: 25.001531600952237px;
  border-top:1px solid var(--decor-color,#353430);
  border-right:1px solid var(--decor-color,#353430);
}

.corner-bottom-decoration-footer {
  grid-area: left-bot-corner;
  align-self: end;
  width: var(--header-decoration-width,25.035839080810547px);
  height: var(--header-decoration-height, 25.001531600952237px);
  border-bottom:1px solid var(--decor-color,#353430);
  border-left:1px solid var(--decor-color,#353430);
}

.text-decorated {
  background-color: var(--text-background-decorate-color, #FF8DCB);
}

@media (min-width: 768px) {
  .header__discription {
    width: 364px;
    height: 117px;
  }

  .main__content-introduction {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: var(--cards-gap,20px);
  }

  .main__content-hypothesis {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: min-content 1fr 1fr 1fr;
    grid-template-areas: 
    "title ."
    "text text"
    "text text"
    "text text";
  }

  .main__content-hypothesis__title {
    grid-area: title;
  }

  .main__content-hypothesis__cards-group {
    grid-area: text;
  }

  .main__content-solution {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: var(--cards-gap,20px);
  }

  .images-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 26% 32% 42%;
    grid-template-areas: 
    "sunset sunset icecream"
    "tape books icecream"
    "tape street street"
  }

  .images-section__card {
    object-fit: cover;
  }

}
@media (min-width: 1024px) {
  .header {
  grid-template-areas: 
    "left-top-corner menu right-top-corner"
    "main main main"
    "main main main"
    "description description description"
    "left-bot-corner . right-bot-corner";
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .header__theme-menu {
    justify-self: center;
  }
  .header__discription {
    width: 491px;
    height: 71px;
  }

  .main__content-hypothesis {
    display: flex;
  }

  .main__content-hypothesis__cards-group {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .card-discription-hypothesis {
    text-align: start;
  }
}