/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
.page {
  font-family: var(--main-font-family, "IBM Plex mono", monospace);
  background-color: var(--background-color,#fff1f7);
  background-image: var(
    --page-background-image,
    url("../images/cover-image-light.png")
  );
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.decorated-zone::before {
  align-self: flex-start;
  justify-self: end;
  position: absolute;
  content: "";
  inline-size: 25px;
  block-size: 25px;
  border-block-start: 1px solid var(--decor-color);
  border-inline-end: 1px solid var(--decor-color);
}

.decorated-zone::after {
  justify-self: start;
  align-self: flex-end;
  position: absolute;
  content: "";
  inline-size: 25px;
  block-size: 25px;
  border-block-end: 1px solid var(--decor-color);
  border-inline-start: 1px solid var(--decor-color);
}

.text-link {
  text-decoration: none;
  text-shadow: 2px 2px 2px var(--link-shadow-color, #FF8DCB);
}

.text-link:hover {
  text-decoration: underline;
  text-shadow: 2px 2px 2px var(--link-shadow-color, #FF8DCB);
}

.text-link:focus-visible {
  outline: solid 2px var(--decor-color,#353430);
}

.header {
  min-block-size: 668px;
  block-size: 100vh;
  padding: 10px;
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-flow: column;
  align-items: center;
}

.header__theme-menu {
  grid-column: 1 / 3;
  justify-self: end;
}

.header__theme-menu-list {
  display: grid;
  gap: 10px;
}

.header__theme-menu-button {
  padding: 4px 13px;
  background-color: inherit;
  border: none;
  font-size: var(--page-font-size);
  line-height: var(--page-line-height);
  text-transform: lowercase;
  color: var(--decor-color);
  cursor: pointer;
}

.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--decor-color);
}

.header__title {
  grid-column: 1 / 3;
  justify-self: start;
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--title-shadow-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
}

.header__discription {
  grid-column: 1 / 3;
  justify-content: end;
  display: inline-block;
}

.main__content {
  margin-block: 40px;
  padding-inline: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: column;
  row-gap: 50px;
}

.main__content-section {
  grid-column: 1 / 4;
  grid-template-columns: 1fr 1fr 1fr;
  display: grid;
  gap: 20px;
}

.main__content-section__title {
  grid-column: 1 / 4;
  color: var(--second-color);
  font-size: var(--page-font-size);
  font-weight: var(--bold-text-weight);
  line-height: var(--page-line-height);
}

.main__content-section__subtitle {
  grid-column: 1 / 4;
  color: var(--discription-color);
  background-color: var(--first-text-color);
  font-size: var(--page-font-size);
  font-weight: var(--bold-text-weight);
  line-height: var(--page-line-height);
}

.main__content-card {
  grid-column: 1 / 4;
  display: grid;
  grid-template-rows: min-content auto;
  grid-auto-flow: row;
  row-gap: 10px;
}

.main__content-card__title {
  grid-column: 1 / 4;
}

.main__content-card__text {
  grid-column: 1 / 4;
  color: var(--discription-color);
  font-size: var(--page-font-size);
  line-height: var(--page-line-height);
}

.main__content-gallery {
  grid-column: 1 / 4;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: column;
  gap: var(--cards-gap,10px);
}

.main__content-gallery__title {
  grid-column: 1 / 4;
}

.main__content-gallery__image {
  grid-column: 1 / 4;
  width: 100%;
  height: 100%;
}

.footer {
  min-block-size: 668px;
  block-size: 100vh;
  display: grid;
  padding: var(--page-pading, 10px);
}

.footer__title {
  justify-self: center;
  align-self: center;
  color: var(--title-color, #ffc2e6);
  font-weight: var( --title-font-weight, 700);
  font-size: var(--title-font-size,clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem));
  font-style: Bold;
  line-height: 83%;
  text-shadow: var( --footer-text-shadow, 2px) var( --footer-text-shadow, 2px) var(--title-footer-shadow-color, #ff0070);
}

.text-decorated {
  color: var(--text-first-color);
  background-color: var(--text-background-decorate-color, #FF8DCB);
  font-size: var(--page-font-size);
  font-weight: var(--bold-text-weight);
  line-height: var(--page-line-height);
}

@media (width >= 768px) {
  .header {
    padding: 20px;
  }

  .header__title {
    position: relative;
    margin-inline-start: -20px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__discription {
    grid-column: 2 / 3;
  }

  .main__content {
    margin-block: 60px;
    padding-inline: 20px;
    row-gap: 80px;
  }

  .main__content-section {
    grid-template-columns: 1fr 2fr;
  }

  .main__content-section__title {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
  }

  .main__content-card {
    grid-column: 2 / 3;
  }

  .main__content-section:nth-child(2) .content-card {
    grid-column: 1 / 4;
  }

  .main__content-section > .content-section__subtitle {
    grid-column: 2 / 3;
  }

  .main__content-gallery {
    gap: 20px;
  }

  .main__content-gallery__image {
    object-fit: cover;
    object-position: center;
  }

  .main__content-gallery__image:nth-child(2) {
    grid-column: 1 / 3;
  }

  .main__content-gallery__image:nth-child(3) {
    grid-column: 3 / 4;
    grid-row: 2 / 4;
  }

  .main__content-gallery__image:nth-child(4) {
    grid-column: 1 / 2;
    grid-row: 3 / 5;
  }

  .main__content-gallery__image:nth-child(5) {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }

  .main__content-gallery__image:nth-child(6) {
    grid-column: 2 / 4;
    grid-row: 4 / 5;
  }

  .footer {
    padding: 20px;
  }
}
@media (width >= 1024px) {
  .header__theme-menu {
    align-self: start;
    justify-self: center;
  }

  .header__theme-menu-list {
    grid-auto-flow: column;
  }

  .header__theme-menu-button:hover:not(.header__theme-menu-button_active) {
    border: 1px solid var(--accent-color-opacity);
  }

  .header__theme-menu-button:focus {
    outline: none;
  }

  .header__theme-menu-button:focus-visible {
    border: none;
    outline: none;
    border-bottom: 1px solid var(--decoration-color);
  }

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .main__content-section {
    grid-template-columns: repeat(3, 1fr);
  }

  .main__content-card {
    grid-column: 2 / 4;
  }

  .main__content-section:nth-child(2) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
  }

  .main__content-section:nth-child(2) .content-section__title {
    grid-row: span 1;
  }

  .main__content-section:nth-child(2) .content-card {
    grid-row: 2 / 3 ;
    grid-column: span 1;
  }

  .main__content-section > .content-section__subtitle {
    grid-column: 2 / 4;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}