
:root {
  /*Задний фон*/
  --page-background-image:url("../images/cover-image-light.png");
  /*Типография*/
  --main-font-family:'IBM Plex Mono';
  --default-text-weight:400;
  --bold-text-weight:700;
  --font-style: Regular;
  --page-font-size:18px;
  --page-line-height:23.4px;
  --title-font-size:clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --title-zize-shadow:4px;
  --footer-text-shadow:2px;
  /*Размеры*/
  --header-height:100%;
  --page-padding:10px;
  --main-content-height:100%;
  --footer-height:100%;
  --page-margin:40px;
  --decor-margin:40px;
  --sections-margin:50px;
  --card-gap:20px;
  --button-gap:13px;
  --cards-gap:10px;
  --title-of-title-margin:20px;
  --title-margin:10px;
  --header-discription-margin:31px;
  --header-menu-margin:65px;
  --word-spacing:2px;
  --image-title-margin:10px;
  --decoration-footer-gap:250px;
}
  
@media (min-width: 768px) {
  :root {
    --title-font-size:clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem); 
    --page-padding:20px;
    --page-margin:60px;
    --sections-margin:80px;
    --cards-gap:20px;
    --title-margin:10px;
    --header-discription-margin:138px;
    --header-title-margin:162px;
    --header-menu-margin:173px;
    --word-spacing:0;
    --image-title-margin:20px;
    --decoration-footer-gap:417px;
  }
}

@media (min-width: 1024px) {
  :root {
    --header-discription-margin:89px;
    --header-title-margin:114px;
    --header-menu-margin:274px;
    --header-menu-margin:274px;
    --decoration-footer-gap:274px;
    --title-footer-shadow-color:#ff0070;
  }
}