
:root {
  /*Задний фон*/
  --page-background-image:url("../images/cover-image-light.png");
  /*Типография*/
  --main-font-family:'IBM Plex Mono';
  --default-text-weight:400;
  --bold-text-weight:700;
  --font-style: Regular;
  --page-font-size:18px;
  --page-line-height:23.4px;
  --title-font-size:clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --title-zize-shadow:4px;
  --footer-text-shadow:2px;
  /*Размеры*/
  --header-height:100%;
  --page-padding:10px;
  --main-content-height:100%;
  --footer-height:100%;
  --page-margin:40px;
  --decor-margin:40px;
  --sections-margin:50px;
  --card-gap:20px;
  --button-gap:13px;
  --cards-gap:10px;
  --title-of-title-margin:20px;
  --title-margin:10px;
  --header-discription-margin:31px;
  --header-menu-margin:60px;
  --word-spacing:2px;
  --image-title-margin:10px;
}
  